.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: #189183 !important;
}

.ant-layout-content {
    background: white;
}

.ant-menu-dark.ant-menu-horizontal {
    border-bottom: 0;
    line-height: 64px;
}

.ant-layout-header {
    background: #001529;
    padding: 0 50px;
    height: 64px;
    line-height: 64px;
    padding-right: 0 !important;
}

.head-search {
    width: 200px !important;
    float: right !important;
    margin: 16px !important;

    input {
        background-color: #0b2b49 !important;
        border: 4px solid #0b2b49 !important;
        border-radius: 3px !important;
        color: white;
    }

    i {
        color: #ccc !important;
    }
}

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: transparent !important;
}

@media (max-width: 968px) {
    .head-search {
        display: none !important;
    }

    .ant-menu-vertical {
        .head-search {
            display: inline-block !important;
        }
    }
}