.homeCarousel {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    a {
        display: flex;
        justify-content: center;
    }
}

.homeCarousel-img {
    height: 260px;
    width: 100%;
}